.alt-header__column:last-child i:last-child {
  margin-left: 20px;
}

#chat-screen {
  background-color: #abc1d1;
  height: 1000vh;
}

#chat-screen .alt-header,
#chat-screen .status-bar {
  position: fixed;
  width: 100%;
  top: 0;
  box-sizing: border-box;
  background-color: #abc1d1;
}

#chat-screen .status-bar {
  z-index: 2;
}

#chat-screen .alt-header {
  top: 20px;
  margin-top: 0;
  padding-top: 15px;
  z-index: 1;
}

.main-chat {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chat__timestamp {
  color: white;
  background-color: #92a4b2;
  text-align: center;
  padding: 15px;
  border-radius: 25px;
  font-size: 14px;
  margin-bottom: 25px;
}

.message-row {
  width: 100%;
  display: flex;
  margin-bottom: 25px;
}

.message-row img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.message__author {
  display: block;
  margin-bottom: 8px;
}

.message__bubble {
  background-color: white;
  padding: 8px 13px;
  border-radius: 10px;
  border-top-left-radius: 0px;
}

.message__info {
  display: flex;
  align-items: flex-end;
}

.message__time {
  margin-left: 8px;
  font-size: 12px;
}

.message-row--own {
  /* class name을 사용해서 모디파이어로 사용 */
  justify-content: flex-end;
}

.message-row--own .message__bubble {
  background-color: var(--yellow);
  border-top-left-radius: 15px;
  border-top-right-radius: 0px;
  margin-left: 8px;
}

.message-row--own .message__info {
  flex-direction: row-reverse;
}

.reply {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: space-between;
  padding: 5px 25px;
  box-sizing: border-box;
  align-items: center;
}

.reply .reply__column:first-child {
  width: 10%;
}

.reply .reply__column:last-child {
  width: 90%;
  position: relative;
}

.reply input {
  padding: 12px;
  width: 100%;
  border: var(--main-border);
  border-radius: 22px;
  box-sizing: border-box;
}

.reply__column:last-child > i,
.reply__column:last-child button {
  position: absolute;
  right: 2px;
  bottom: 3.5px;
}

.reply__column:last-child > i {
  right: 40px;
  top: 14px;
}

.reply__column button {
  background-color: var(--yellow);
  border: none;
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

.reply__column button:focus,
.reply__column button:active {
  outline: none;
}

.reply i {
  opacity: 0.5;
}

.reply__column button i {
  opacity: 1;
}
