.find-icons {
  display: flex;
  justify-content: space-between;
  padding-bottom: 25px;
}

.find-icons__icon {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.find-icons__icon i {
  margin-bottom: 20px;
  font-size: 35px;
}

.recomended-friend {
  padding: 25px 0px;
  border-top: var(--main-border);
  border-bottom: var(--main-border);
}

.recomended-friend__title {
  font-size: 12px;
  color: var(--grey);
}

.recomended-friend span {
  margin: 70px 0px; /* span은 inline이니까 display 바꿔줘라 */
  display: block;
  text-align: center;
  color: var(--grey);
}

.open-chat__header {
  display: flex;
  justify-content: space-between;
  padding: 20px 0px;
  color: var(--grey);
}

.open-chat__header span {
  opacity: 0.6;
}

.open-post,
.open-post2 {
  display: flex;
  justify-content: space-between;
}

.open-post__column-title {
  padding-top: 20px;
  font-weight: 600;
  margin-bottom: 5px;
}

.open-post__column-hash {
  text-transform: uppercase;
  margin-bottom: 5px;
}

.open-post__column__member {
  display: flex;
  align-items: center;
}

#post-account {
  width: 20px;
  height: 20px;
  border-radius: 10px;
  margin-right: 5px;
}

#post-img {
  width: 100px;
  height: 100px;
  border-radius: 10px;
}

.open-post__column-meber-accout {
  font-size: 15px;
}

.open-post__column h6,
span {
  color: var(--grey);
}

.open-post__column-member-status {
  color: violet;
}

.open-post__column__member .divider {
  width: 1px;
  height: 15px;
  background-color: rgba(0, 0, 0, 0.3);
  margin: 0px 5px;
}

.open-post {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding-bottom: 10px;
}

.open-post2 {
  margin-top: 15px;
}

.likes {
  background-color: rgba(0, 0, 0, 0.5);
  text-align: center;
  border-radius: 10px;
  padding: 5px 0px;
  font-size: 15px;
  position: relative;
  bottom: 30px;
  left: 38px;
  width: 60px;
}

.likes i {
  color: white;
}
