.settings__setting {
  padding: 25px 0px;
  font-size: 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.settings__setting i {
  margin-right: 20px;
  font-size: 22px;
}

#last-col {
  padding-bottom: 40px;
  border-bottom: none;
}

.settings__setting-column:last-child {
  opacity: 0.3;
}

.settings__setting-column span {
  color: black;
}

#first-col {
  border-top: 1px solid rgba(0, 0, 0, 0.8);
}
