.nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #f9f9fa;
  padding: 20px 50px;
  box-sizing: border-box;
  border-top: 1px solid rgba(121, 121, 121, 0.3);
}

.nav__list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}

.nav__link {
  color: #2e363e;
}

.nav__btn {
  position: relative;
}

.nav__notification {
  position: absolute;
  bottom: 15px;
  left: 15px;
}

.nav__notification2 {
  background-color: tomato;
  width: 6px;
  height: 6px;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 30px;
  bottom: 28px;
}
