.status-bar {
  display: flex;
  justify-content: space-between;
  padding: 5px 3px;
}

.status-bar__column:first-child span {
  margin-right: 5px;
}

.welcome-header {
  margin-top: 90px;
  margin-bottom: 90px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 600;
}

.welcome-header__title {
  margin-bottom: 40px;
  font-size: 25px;
}

.welcome-header__text {
  opacity: 0.5;
}
